:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "irancell";
  src: url("../src/assets/fonts/MTNIrancell-Light.ttf");
}

body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  /* min-width: 320px; */
  min-height: 100vh;
  font-family: "irancell" !important;
}

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.vpd-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
  -webkit-user-select: none;
  color: black !important;
  -moz-user-select: none;
  -ms-user-select: none;
}
.form-control {
  padding: 1em;
  font-family: "irancell";
  padding: 8px 10px !important;
  border: none !important;
  direction: rtl;
}
.vpd-input-group {
  border: 1px solid #b9b9b94d;
  border-radius: 7px !important;
}
.vpd-icon-btn {
  width: 50px;
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}

.p-toast {
  font-family: "irancell" !important;
  direction: rtl !important;
}
