:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: rgb(66,34,195);
  background: linear-gradient(0deg, rgba(66,34,195,1) 0%, rgba(0,0,0,1) 100%);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "irancell";
  src: url("../src/assets/fonts/MTNIrancell-Light.ttf");
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "irancell" !important;
}

#app {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.vpd-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
  -webkit-user-select: none;
  color: black !important;
  -moz-user-select: none;
  -ms-user-select: none;
}
.form-control {
  padding: 1em;
  font-family: "irancell";
  padding: 8px 10px !important;
  border: none !important;
  direction: rtl;
}
.vpd-input-group {
  border: 1px solid #b9b9b94d;
  border-radius: 7px !important;
}
.vpd-icon-btn {
  width: 50px;
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}

.p-toast {
  font-family: "irancell" !important;
  direction: rtl !important;
}

.required:before {
  content: " *";
  color: red;
}
.customError {
  color: rgb(248, 107, 131);
  margin-top: .5em;
}
.rltDir {
  direction: rtl;
}
.modalBody {
  /* margin-top: -0.75em; */
}
.mrRight {
  margin-right: .5em;
}